*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body{
    background-color: #181832;
    font-family: "Oswald", "Raleway", "Tahoma";
    font-size: 1.7rem;
}

.container{
    margin: 0 auto;
    width: 50%;
    display: grid;
    gap: 1rem;
    border: 1px solid #ccccd6;
    grid-column: span 2 auto;
    padding: 2rem;

}

.top-info{
    text-align: center;
}
.top-info img{
    width: 30%;
    border: 1px solid #9a8ff11f;
    border-radius: 50%;
}
.top-info img::after{
    content: "";
    border: 1px solid #9b8ff1;
    position: absolute;
}

.tabs{
    
    width:100%;
}

ul,li,a{
    font-size: 1rem;
    /* display:inline-block; */
    display:flex;
    justify-content: space-around;
    margin: .7rem 0 .7rem 0;
}

ul{
    list-style: none;
    cursor: pointer;
}

li a{
    list-style: none;
    color: whitesmoke;
    text-decoration: none;
}

h1, h3 {
    font-family: "Oswald";
    color: #b4b5c8;
    font-weight: 700;
}

p{
    font-family: "Raleway";
    color: rgb(147, 147, 169);
}




